<div class="band-container">
    <div class="band">
        <h4>1ra. Banda</h4>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-0" name="band1" value="0">
            <div class="color-box" style="background-color: black;"></div>
            <label for="band1-0">0</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-1" name="band1" value="1">
            <div class="color-box" style="background-color: brown;"></div>
            <label for="band1-1">1</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-2" name="band1" value="2">
            <div class="color-box" style="background-color: red;"></div>
            <label for="band1-2">2</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-3" name="band1" value="3">
            <div class="color-box" style="background-color: orange;"></div>
            <label for="band1-3">3</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-4" name="band1" value="4">
            <div class="color-box" style="background-color: yellow;"></div>
            <label for="band1-4">4</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-5" name="band1" value="5">
            <div class="color-box" style="background-color: green;"></div>
            <label for="band1-5">5</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-6" name="band1" value="6">
            <div class="color-box" style="background-color: blue;"></div>
            <label for="band1-6">6</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-7" name="band1" value="7">
            <div class="color-box" style="background-color: purple;"></div>
            <label for="band1-7">7</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-8" name="band1" value="8">
            <div class="color-box" style="background-color: gray;"></div>
            <label for="band1-8">8</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda1" type="radio" id="band1-9" name="band1" value="9">
            <div class="color-box" style="background-color: white;"></div>
            <label for="band1-9">9</label>
        </div>
    </div>

    <div class="band">
        <h4>2da. Banda</h4>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-0" name="band2" value="0">
            <div class="color-box" style="background-color: black;"></div>
            <label for="band2-0">0</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-1" name="band2" value="1">
            <div class="color-box" style="background-color: brown;"></div>
            <label for="band2-1">1</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-2" name="band2" value="2">
            <div class="color-box" style="background-color: red;"></div>
            <label for="band2-2">2</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-3" name="band2" value="3">
            <div class="color-box" style="background-color: orange;"></div>
            <label for="band2-3">3</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-4" name="band2" value="4">
            <div class="color-box" style="background-color: yellow;"></div>
            <label for="band2-4">4</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-5" name="band2" value="5">
            <div class="color-box" style="background-color: green;"></div>
            <label for="band2-5">5</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-6" name="band2" value="6">
            <div class="color-box" style="background-color: blue;"></div>
            <label for="band2-6">6</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-7" name="band2" value="7">
            <div class="color-box" style="background-color: purple;"></div>
            <label for="band2-7">7</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-8" name="band2" value="8">
            <div class="color-box" style="background-color: gray;"></div>
            <label for="band2-8">8</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda2" type="radio" id="band2-9" name="band2" value="9">
            <div class="color-box" style="background-color: white;"></div>
            <label for="band2-9">9</label>
        </div>
    </div>

    <div class="band">
        <h4>3ra. Banda Multiplicador</h4>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-0" name="multiplier" value="0">
            <div class="color-box" style="background-color: black;"></div>
            <label for="mult-0">x1</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-1" name="multiplier" value="1">
            <div class="color-box" style="background-color: brown;"></div>
            <label for="mult-1">x10</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-2" name="multiplier" value="2">
            <div class="color-box" style="background-color: red;"></div>
            <label for="mult-2">x100</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-3" name="multiplier" value="3">
            <div class="color-box" style="background-color: orange;"></div>
            <label for="mult-3">x1000</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-4" name="multiplier" value="4">
            <div class="color-box" style="background-color: yellow;"></div>
            <label for="mult-4">x10000</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-5" name="multiplier" value="5">
            <div class="color-box" style="background-color: green;"></div>
            <label for="mult-5">x100000</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-6" name="multiplier" value="6">
            <div class="color-box" style="background-color: blue;"></div>
            <label for="mult-6">x1000000</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-7" name="multiplier" value="7">
            <div class="color-box" style="background-color: purple;"></div>
            <label for="mult-7">x10000000</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-8" name="multiplier" value="8">
            <div class="color-box" style="background-color: gray;"></div>
            <label for="mult-8">x100000000</label>
        </div>
        <div class="radio-option">
            <input [(ngModel)]="banda3" type="radio" id="mult-9" name="multiplier" value="9">
            <div class="color-box" style="background-color: white;"></div>
            <label for="mult-9">x1000000000</label>
        </div>
    </div>
</div>

<div class="tolerance-container">
    <div class="tolerance-option">
        <input [(ngModel)]="tolerancia" type="radio" id="tol-gold" name="tolerance" value="0.05">
        <div class="color-box" style="background-color: gold;"></div>
        <label for="tol-gold">Dorado 5%</label>
    </div>
    <div class="tolerance-option">
        <input [(ngModel)]="tolerancia" type="radio" id="tol-silver" name="tolerance" value="0.10">
        <div class="color-box" style="background-color: silver;"></div>
        <label for="tol-silver">Plata 10%</label>
    </div>
</div>

<div class="button-container">
    <button (click)="calcular()">Calcular</button>
</div>

<table *ngIf="mostrarResultados">
    <thead>
        <tr>
            <th>Color1</th>
            <th>Color2</th>
            <th>Color3</th>
            <th>Tolerancia</th>
            <th>Valor</th>
            <th>Valor máximo</th>
            <th>Valor mínimo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="color-cell" [ngClass]="coloresBanda[banda1]"></td>
            <td class="color-cell" [ngClass]="coloresBanda[banda2]"></td>
            <td class="color-cell" [ngClass]="coloresBanda[banda3]"></td>
            <td class="color-cell" [ngClass]="getColorTolerancia()"></td>
            <td>{{calculadora.valor}}</td>
            <td>{{calculadora.valorMax}}</td>
            <td>{{calculadora.valorMin}}</td>
        </tr>
    </tbody>
</table>
